PORT=3002
URI_MONGODB=mongodb://localhost:27017/events-app
EVENTS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

JWT_SECRET=clave-secreta-compartida-con-auth
JWT_ISSUER=auth-service
JWT_AUDIENCE=events-service

INTERNAL_SERVICE_TOKEN=un-token-compartido-largo-y-random