PORT=3101
URI_MONGODB=mongodb://localhost:27017/events-app
EVENTS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

JWT_SECRET=clave
JWT_ISSUER=jwt
JWT_AUDIENCE=jwt

INTERNAL_SERVICE_TOKEN=tokencompartido
