PORT=3101
URI_MONGODB=mongodb://localhost:27017/events-app
EVENTS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

JWT_SECRET=55dtnITgUBY2ocnp8myCLtbJRdNWkCfdvhkcIS3OMpJScZkDwZFvB0yxRqZjoMpf7QbUqXO94cCrpNxUvIeWeg==!
JWT_ISSUER=AdminEventsAuth
JWT_AUDIENCE=AdminEventsAuth

INTERNAL_SERVICE_TOKEN=tokencompartido
